.right-nav{
    background-color: #fafafa;
    height: 98vh;
}
.right-nav img{
    text-align: center;
}
.side-menu{
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-top: 50px;
}

.side-menu li{
    list-style: none;
    margin: 30px auto;
    text-align: center;
    width: 200px;
    
}

.side-menu li a{
    text-decoration: none;
    background-color: #e8f2ff;
    padding: 20px 60px;
    border-radius: 10px;
    color: black;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
    display: block;
}

.transparent-color{
    color: transparent !important;
}

.side-menu li a:hover,.active{
    background-image: linear-gradient(to right, #bfdafe , #89b9ff);
}

.head{
    border-bottom: 1px solid lightgray;
    height: 80px;
}

.main-area{
    margin-left: 100px;
}

.btn-date{
    width: 60px;
    font-weight: 700;
    margin-left: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid #1f4d90;
    background-color: white;
}

.btn-date:hover{
    background-color: #289125;
    color: white;
}

.btn-date:focus{
    background-color: #289125;
    color: white;
}

/* .btn-active{
    background-color: #289125;
    color: white;
} */

.btn-time{
    padding: 20px 40px;
    margin-right: 20px;
    color: #154388;
    background-color: white;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #1f4d90;
}

.btn-time:hover{
    background-color: #289125;
    color: white;
}

.btn-time:focus{
    background-color: #289125;
    color: white;
}

.my-border-bottom{
    width: 100px;
    display: flex;
}

.border-bottom-left{
    width: 50px;
    height: 5px;
    background-color: #1f4d8e;
    border-radius: 5px 0 0 5px;
}
.border-bottom-right{
    width: 50px;
    height: 5px;
    background-color: #db1442;
    border-radius: 0 5px 5px 0;
}

.mobile-view{
    display: none;
}

.pay-btn{
    background-color: #02193e;
    color: white;
}
.pay-btn:hover{
    color: white;
}

@media screen and (max-width:991px){
.mobile-view{
    display: block;
}

.desktop-view{
    display: none;
}

.btn-date:hover{
    background-color: #1e4d8e;
}

.btn-time:hover{
    background-color: #1e4d8e;
}

.btn-time{
    padding: 10px 10px;
    margin-right: 10px;
    color: #154388;
    background-color: white;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #1f4d90;
}

}